@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500&display=swap");
body {
  display: grid;
  grid-template-rows: 1fr 3fr 0.6fr auto;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: clamp(400px, 50vw, 900px);
  height: 100%;
  padding-top: 2rem;
}
.header .radio-container {
  display: flex;
}

.subhead-container {
  width: 100%;
}

.large-letters {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.radio-container,
.large-letters {
  display: flex;
  justify-content: center;
}

label > span {
  width: 8rem;
  height: 2rem;
}
label span > img {
  width: 2rem;
  height: auto;
  margin-left: 1rem;
}

.grid-container {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 1px;
  width: 400px;
  height: 400px;
  background-color: rgb(236, 236, 236);
  background-color: black;
}
.grid-container:hover {
  cursor: pointer;
}
.grid-container .grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

img {
  width: 75px;
  height: auto;
}

.sign-game-template {
  display: none;
}

.reset-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

#github {
  height: 1.8rem;
  width: auto;
  transition: 0.3s;
}

#github:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
label input {
  position: absolute;
  left: -9999px;
}
label input:checked + span {
  background-color: #d6eaff;
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #007bff;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: #d6eaff;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em gray;
}

/* Button by Stripe */
.button-9 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #007bff;
  border-radius: 30px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.05s ease-in;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
}

.button-9:disabled {
  cursor: default;
}

.button-9:active {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0, rgba(50, 151, 211, 0.3) 0 0 0 4px;
}/*# sourceMappingURL=style.css.map */