@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500&display=swap');

$responsive-width: clamp(400px, 60vw, 900px);

body {
    display: grid;
    grid-template-rows: 1fr 3fr .6fr auto;
    justify-items: center;
	align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    width: 100vw;
	min-height: 750px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: $responsive-width;
	height: 100%;
	padding-top: 2rem;

	.radio-container {
		display: flex;
	}
}

.subhead-container {
    width: 100%;
}

.large-letters {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.radio-container,
.large-letters {
    display: flex;
    justify-content: center;
}

label {
	> span {
		width: 9rem;
		height: 2rem;
	}

	span > img {
		width: 2rem;
		height: auto;
		margin-left: 1rem;
	}

	span > #small-x {
		width: 1.73rem;
		margin-left: 1.1rem;
	}
}

.grid-container {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 1px;
    width: 400px;
	height: 400px;
	background-color: rgb(236, 236, 236);
	background-color: black;
	transition: all 1s;
	margin-bottom: -2rem;

	&:hover {
		cursor: pointer;
	}

	.grid-cell {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
	}
}

img {
	width: 75px;
	height: auto;

	&#x {
		width: 65px;
	}
}

.reset-container {
	height: 5.4rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

#github {
    height: 1.8rem;
    width: auto;
    transition: 0.3s;
}

#github:hover {
    transform: scale(1.1);
}

.fade {
	filter: blur(4px);
	opacity: .9;
	transform: scale(.64);
	margin-bottom: -3rem;
	
	&:hover {
		cursor: default;
	}
}

#score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.57rem;
	margin-bottom: -2rem;

}

.invisible {
	opacity: 0;
	display: none;
}

// Custom radio buttons from https://freefrontend.com/css-radio-buttons/
// by Håvard Brynjulfsen
$primary-color: #007bff; // Change color here. C'mon, try it! 
$text-color: mix(#000, $primary-color, 64%);

form {
	display: flex;
    flex-direction: column;
}

label {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			background-color: mix(#fff, $primary-color, 84%);
			&:before {
				box-shadow: inset 0 0 0 0.4375em $primary-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0.75em 0.375em 0.375em;
		border-radius: 99em; // or something higher...
		transition: 0.25s ease;
		&:hover {
			background-color: mix(#fff, $primary-color, 84%);
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em gray;
		}
	}
}

/* Button by Stripe */
button {
  appearance: button;
  backface-visibility: hidden;
  background-color: $primary-color;
  border-radius: 30px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .05s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  letter-spacing: .15rem;
  margin-top: 1rem;
}

button:disabled {
  cursor: default;
}

button:active {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}